Types/* ============ Layout Section =========*/

body { background-color: ;
margin: 0px;
font-family: verdana, Georgia, serif;
font-size: 14px;

}

#header { background-color: gray;
margin: 10px;
height: 90px;
border-radius: 5px;

}

#navbar ul { 
padding: 5px;
list-style-type: none;
text-align: center;
background-color: #000;
margin: 10px;
border-radius: 5px;

}

#navbar ul li { 
display: inline;
}

#navbar ul li a { 
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: #fff;
background-color: #000;
}


#navbar ul li a:hover { 
color: #000;
background-color: #fff;
}


.main { background-color: blue;
margin-top: 10px;
margin-right: 320px;
margin-bottom: 10px;
margin-left: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;

}

.sideright { background-color: gray;
margin-top: 0px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
border-radius: 5px;
padding: 20px;
font-size: 105%;
float: right;
width: 260px;
clear: right;

}

.imagesidebar { 
margin-top: 0px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
border-radius: 5px;
float: right;
width: 300px;
clear: right;
opacity: 1.0;
transition: opacity 0.5s ease-in-out;

}

.imagesidebar:hover {
		opacity: 0.4;
}



#footer {
background-color: gray;
margin: 10px;
height: 60px;
border-radius: 5px;
clear: both;
color: #efe5d0;
text-align: center;
padding: 15px;
font-size: 90%;

}

#footer ul { 
padding: 5px;
list-style-type: none;
text-align: center;
margin: 10px;
border-radius: 5px;

}

#footer ul li { 
display: inline;
}

#footer ul li a { 
text-decoration: none;
font-family: Arial;
padding: .2em 1em;
color: white;
background-color: #brown;
}


#footer ul li a:hover { 
color: #000;
background-color: gray;
}

/* ============Headings Section==========*/

p { color: white;
}

h1 { font-size: 120%;
color: white;

}

h2 { font-size: 120%;
color: white;

}

h3 { font-size: 250%;
text-align: center;
color: white;
font-family: "Century Gothic", "Gill Sans", Arial, sans serif;
margin: 0px;

position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
ms-transform: (-50%);
transform: translateY(-50%);
}